# Compiled output
/dist
/node_modules

# Environment & local config
.env
!.env.example
*.env
!.env.example
database/.env

# Logs
*.log
npm-debug.log*

# Unit test coverage
/coverage

# IDE
.idea
.vscode
*.suo
